<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart.jsを使ってグラフを描画してみよう</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <!--参考 https://github.com/globalgatej/chartjsSample -->
    <!-- http://epirecip.es/epicookbook/chapters/sir/js -->
    <!-- http://pc-physics.com/rk1.html -->
    <!-- https://wagtail.cds.tohoku.ac.jp/coda/python/p-6-application-sup-ode-sir-model.html -->
</head>

<body>

    <div id="app">

        <div class="jumbotron">
            <h1>Chart.jsを使ってグラフを描画してみよう</h1>
            <p class="lead">
                Chart.js（とVue.js）を使ってグラフを描画するサンプルサイトです。
            </p>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-4">

                    <h2>使用するデータ</h2>
                    <div class="col-4">
                        <input type="number" class="form-control" v-model.number="gamma">
                    </div>
                    <div class="col">
                        <input type="range" class="form-control" min="0.01" max="0.30" step="0.01" v-model.number="gamma">
                    </div>
                    <div class="col-5">
                        <input type="number" class="form-control" v-model.number="beta">
                    </div>
                    <div class="col">
                        <input type="range" class="form-control" min="0.000001" max="0.00005" step="0.000001" v-model.number="beta">
                    </div>
                    <!-- <div v-for="(item,index) in datasets" :key="index" class="row py-2">
                        <div class="col-3">
                            <input type="number" class="form-control" v-model.number="datasets[index]">
                        </div>
                        <div class="col">
                            <input type="range" class="form-control" min="-500" max="500"
                                v-model.number="datasets[index]">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" v-on:click="add(index)">足す</button>
                            <button class="btn btn-secondary" v-on:click="del(index)"
                                :disabled="datasets.length < 2">消す</button>
                        </div>
                    </div> -->


                </div>
                <div class="col-12 col-md-8">

                    <!-- <div class="col-12 mb-5">
                        <h2>グラフの種類</h2>
                        <select class="form-control" v-model="graphSelected">
                            <option v-for="(item,index) in graphs" :key="index" :value="item.type">
                                {{ item.name }}</option>
                        </select>

                    </div> -->
                    <div class="col-12">
                        <div class="row">
                            <div class="col">
                                <h2>グラフ</h2>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-info" v-on:click="randData()">ランダムに生成する</button>
                            </div>
                        </div>
                        <div>
                            <canvas id="charts"></canvas>

                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>