<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIRモデル</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="favicon.png">
    <!--参考 https://github.com/globalgatej/chartjsSample -->
    <!-- http://epirecip.es/epicookbook/chapters/sir/js -->
    <!-- http://pc-physics.com/rk1.html -->
    <!-- https://wagtail.cds.tohoku.ac.jp/coda/python/p-6-application-sup-ode-sir-model.html -->
    <!-- python -m http.server 8080 -->
    <title>Snippet App</title>
</head>

<body>



    <div id="app">

          <v-app>

            <v-navigation-drawer app v-model="drawer" clipped>
                <v-container>
                    <v-list-item>
                     // 略
                    </v-list-item>
                
                    <v-divider></v-divider>
                
                    <v-list dense nav>
                        <v-list-group 
                        v-for="nav_list in nav_lists" 
                        :key="nav_list.name" 
                        no-action 
                        :append-icon="nav_list.lists ? undefined : ''"> 
                          <template v-slot:activator>
                            <v-list-item-content>
                              <v-list-item-title>{{ nav_list.name }}</v-list-item-title>
                            </v-list-item-content>
                          </template>
                          <v-list-item v-for="list in nav_list.lists" :key="list.item" :to="list.to">
                            <v-list-item-content>
                              <v-list-item-title>{{ list.item }}</v-list-item-title>
                            </v-list-item-content>
                          </v-list-item>
                        </v-list-group>
                    </v-list>
                  </v-container>
            </v-navigation-drawer>

            <v-app-bar color="primary" dark app clipped-left>
              <v-app-bar-nav-icon @click="drawer=!drawer"></v-app-bar-nav-icon>
              <v-toolbar-title>Vuetify</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn text>For Enterprise</v-btn>
                <v-btn text>Support</v-btn>
              </v-toolbar-items>
            </v-app-bar>

            <v-main>
                <router-view></router-view>    
            </v-main>
    
        </v-app>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <!-- <script>
        MathJax = {
          chtml: {
            matchFontHeight: false
          },
          tex: {
            inlineMath: [['$', '$']]
          }
        };
        </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script> -->
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
    <script src="script.js"></script>
</body>

</html>